.header {
    display: flex;
    align-items: center;
    background-color: rgb(218, 218, 218)

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;

}

.header .title-group {
    padding-left: 25px;
}

.header .title-group {
    padding-right: 5px;
}